@media screen and (max-width: 1300px){
body{
	background-color:#FFFAFA;
	font-family: Arial, Helvetica, sans-serif;
}
.reader{
	background-color: #355C7D ;
	background-size: cover;
	height:40px;
	padding:9px 13px 0px 0px;
	margin: 0;
	text-align: center;
}
.menu  {
	margin: 0;
	height: 40px;
	background-color:black;
	border-color: #6495ED;
	
}

ul{
	width: 100%;
	margin: 0;
	height: 40px;
	display: flex;
	list-style: none;
	padding-left: 0;


}
.list{

	width: 24.95%;
	padding-top: 9px;
	margin-left: 0.05%;
	height: 31px;
	text-align: center;
	background-color:	#5D6D7E ;
	border-color: #ADFF2F;
	color: white;


}
.list:focus{
	background: 	#ADFF2F;

}
.list:hover{
	background: #17202A ;
	cursor: pointer;
}
}